<div class="sidebar">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
    <div style="text-align: center; font-size: 1em">Welcome to my-reddit-demo home page. Visit here to
        interact with your favorite communities.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateCommunity" (click)="goToCreateCommunity()">Create Community</button>
    </div>
</div>